<html>
<head>
    <title>
        SUPER MESSAGES 2000
    </title>
</head>
<body>
<head>
    <style>
        li {
            color: black;
            font-size: large;
            font-kerning: none;
            background-color: darkviolet;
        }

        ol{
            color: darkblue;
            background-color: aqua;
        }

        h1{
            font-family: "Comic Sans MS";
            font-size: x-large;
            background-color: forestgreen;
        }
    </style>

    <iframe
            width="0" height="0"
            src="https://www.youtube.com/v/Cz6QhdmJULg?autoplay=1&loop=1&playlist=Cz6QhdmJULg"
            frameborder="0" allowfullscreen>
    </iframe>

</head>
<h1>
    {{userName}}'s Messages
</h1>
<form action="/create-messages" method="post">
    <input type="text" placeholder="Write a message" name="message"/>
    <button type="submit">Submit</button>
</form>
<a href="/logout">Logout</a>
<ol>
    {{#messages}}
    <li>
        {{.}}
    </li>
    {{/messages}}
</ol>
</body>
</html>